In [1]:
import pandas as pd

In [2]:
catalog="../createcatalog/pnnl_downloads.csv"
df=pd.read_csv(catalog)
df.head()

,Organism,Sample,Dataset,Instrument,Separation Type,Type,Acquisition Start,Acquisition End,Scan Count,Acq Length
0,Arthrobacter_sp_FB24,Arthro_008,Arthro_008-LTQFT2_04Oct05_Andro_0705-06,LTQ_FT1,LC-ISCO-Standard,HMS-MSn,10/4/2005 7:15 AM,10/4/2005 8:55 AM,14693,100
1,Arthrobacter_sp_FB24,Arthro_004,Arthro_004-LTQFT3_30Sep05_Andro_0705-07,LTQ_FT1,LC-ISCO-Standard,HMS-MSn,10/1/2005 11:25 AM,10/1/2005 1:05 PM,14582,100
2,Arthrobacter_sp_FB24,Arthro_010,Arthro_010-LTQFT1_04Oct05_Andro_0705-07,LTQ_FT1,LC-ISCO-Standard,HMS-MSn,10/4/2005 7:34 PM,10/4/2005 9:14 PM,13929,100
3,Arthrobacter_sp_FB24,Arthro_003,Arthro_003_LTQFT3_27Oct05_Griffin_05-09-04,LTQ_FT1,LC-ISCO-Standard,HMS-MSn,10/28/2005 10:53 AM,10/28/2005 12:33 PM,15610,100
4,Arthrobacter_sp_FB24,Arthro_012,Arthro_012-LTQFT2_05Oct05_Andro_0705-06,LTQ_FT1,LC-ISCO-Standard,HMS-MSn,10/5/2005 12:40 PM,10/5/2005 2:20 PM,14209,100

In [9]:
paramNum_lst=[]
masterParam_lst=[]
for key, row in df.iterrows():
    filepath="/home/mitsuki/out/altorf/proteome/param/"+row["Organism"]+"/"+row["Dataset"]+".param"
    with open(filepath,'r') as f:
        content=f.readlines()
        
        paramNum=-1
        for i,masterParam in enumerate(masterParam_lst):
            if masterParam==content:
                paramNum=i
        if paramNum==-1:
            paramNum=len(masterParam_lst)
            masterParam_lst.append(content)
        paramNum_lst.append(paramNum)

In [19]:
df["param_num"]=paramNum_lst
df.head()

,Organism,Sample,Dataset,Instrument,Separation Type,Type,Acquisition Start,Acquisition End,Scan Count,Acq Length,param_num
0,Arthrobacter_sp_FB24,Arthro_008,Arthro_008-LTQFT2_04Oct05_Andro_0705-06,LTQ_FT1,LC-ISCO-Standard,HMS-MSn,10/4/2005 7:15 AM,10/4/2005 8:55 AM,14693,100,0
1,Arthrobacter_sp_FB24,Arthro_004,Arthro_004-LTQFT3_30Sep05_Andro_0705-07,LTQ_FT1,LC-ISCO-Standard,HMS-MSn,10/1/2005 11:25 AM,10/1/2005 1:05 PM,14582,100,0
2,Arthrobacter_sp_FB24,Arthro_010,Arthro_010-LTQFT1_04Oct05_Andro_0705-07,LTQ_FT1,LC-ISCO-Standard,HMS-MSn,10/4/2005 7:34 PM,10/4/2005 9:14 PM,13929,100,0
3,Arthrobacter_sp_FB24,Arthro_003,Arthro_003_LTQFT3_27Oct05_Griffin_05-09-04,LTQ_FT1,LC-ISCO-Standard,HMS-MSn,10/28/2005 10:53 AM,10/28/2005 12:33 PM,15610,100,0
4,Arthrobacter_sp_FB24,Arthro_012,Arthro_012-LTQFT2_05Oct05_Andro_0705-06,LTQ_FT1,LC-ISCO-Standard,HMS-MSn,10/5/2005 12:40 PM,10/5/2005 2:20 PM,14209,100,0

In [20]:
df.to_csv("pnnl_catalogs.csv",index=False)

In [17]:
for i,masterParam in enumerate(masterParam_lst):
    outFilepath="/home/mitsuki/out/altorf/proteome/param/master_"+str(i)+".param"
    with open(outFilepath, 'w') as f:
        f.write(''.join(masterParam))